@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add smooth transition for all elements when switching themes */
* {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
  }
  
  /* Prevent transition on page load */
  .no-animation * {
    transition: none !important;
  }